{% extends 'base/padre.html' %}
{% load static %}
{% block titulo %}
Listado de usuarios
{% endblock titulo %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/listadousers.css' %}">
{% endblock css %}
{% block contenido %}
<h1 class="text-center">Listado de usuarios</h1>
<hr>
<main>
    <section class="text-center container">
        <form method="GET" action="{% url 'buscadorU' %}" class="d-flex" role="search">
            <input name="username" class="form-control me-2" type="search" placeholder="Ingresa Nombre de usuario(username)" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </section>
    <article class="container">
        <br>
        <a href="{% url 'AgregarU' %}" class="btn btn-warning col-12">Agregar Usuario</a>
    </article>
    <hr>
    <section>
        <article class="table-responsive">
            <table class="table table-striped" id="listaproductos">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre de usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Modificar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% if usuarios %}
                        {% for g in usuarios %}
                            <tr>
                                <td>{{ g.id }}</td>
                                <td>{{ g.username }}</td>
                                <td>{{ g.first_name }}</td>
                                <td>{{ g.last_name }}</td>
                                <td>{{ g.email }}</td>
                                <td>**********</td>
                                <td>{{ g.roles }}</td>
                                <td>
                                    <img src="{{ g.foto_usuario.url }}" height="100" alt="Imagen del usuario">
                                </td>
                                <td>
                                    <a type="button" class="btn btn-secondary" href="{% url 'ModificarU' g.id %}">Modificar</a>
                                </td>
                                <td>
                                    <a id="confirmar_eliminar" onclick="return confirm('¿Estás seguro que deseas eliminar el usuario del sistema?');" type="button" class="btn btn-secondary" href="{% url 'EliminarU' g.id %}">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10" class="text-center">No existen usuarios</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </article>
    </section>
</main>
{% endblock contenido %}
