.cuadro{
    border-radius: 5px;
    background-color: rgba(54, 54, 54, 0.647);
    padding: 5px;
    color: white;
}
body{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background-image: url('../img/fondoreg.jpg');
}
main{
    padding: 50px;
}